<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.films">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FilmsApplication"
        android:icon="@mipmap/product_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/product_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Films">
        <activity
            android:name=".AppActivity"
            android:theme="@style/Theme.Films.Launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>